@charset "UTF-8";
.download-page .container .download-category {
  margin-bottom: 50px
}
.download-page .container .download-category ul {
  position: relative;
  z-index: 1;
  display: table;
  overflow: hidden;
  width: 100%;
}
.download-page .container .download-category ul li {
  display: table-cell;
  float: left;
}
.download-page .container .download-category ul li a {
	display: block;
	width: 100%;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 1;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	text-align: center;
	color: #9e9e9e;
	background-color: #e5e5e5;
	border: #e5e5e5 1px solid;
	border-right: solid 1px #fff;
	padding: 1em 0;
}
.download-page .container .download-category ul li a:hover {
	color: #000;
	background-color: #bcbcbc;
	border: #bcbcbc 1px solid;
}
.download-page .container .download-category ul li a.current {
	color: #fff;
	border: #000 1px solid;
	background-color: #000
}
.download-page .container .download-category ul.main {
	margin-bottom: 1em;
}
.download-page .container .download-category ul.main li {
  width: 33.3333%;
}
.download-page .container .download-category ul.main li:first-child a {
	border-top-left-radius: 3em;
	border-bottom-left-radius: 3em;
}
.download-page .container .download-category ul.main li:last-child a {
	border-right: none;
	border-top-right-radius: 3em;
	border-bottom-right-radius: 3em;
}
.download-page .container .download-category ul.sub li {
	width: 48%;
	margin-left: 4%;
}
.download-page .container .download-category ul.sub li:first-child {
	margin-left: 0;
}
.download-page .container .download-category ul.sub li a {
	color: #000;
	border-radius: 3em;
	border: #9e9e9e 1px solid;
  	background-color: #fff;
}
.download-page .container .download-category ul.sub li a::after {
	content: '';
	position: relative;
	display: inline-block;
    width: .6em;
    height: .6em;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
	top: -.3em;
	margin-left: .6em;
}
.download-page .categoryTitle {
	position: relative;
	font-size: 28px;
	font-weight: bold;
	line-height: 1;
	margin-bottom: 2em;
	padding-top: 1em;
	padding-bottom: .5em;
}
.download-page .categoryTitle::before {
	content: "";
	position: absolute;
	bottom: -.3em;
	left: 0;
	display: block;
	width: 20px;
	height: 4px;
	background-color: #ec1e79;
}
@media (min-width: 48em) {
	.download-page .container .download-category {
	  margin-bottom: 50px
	}
	.download-page .container .download-category::after { content: ""; display: block; clear: both; }
	.download-page .container .download-category ul.main {
		float: left;
		width: 60%;
	}
	.download-page .container .download-category ul.sub {
		float: right;
		width: 30%;
	}
	.download-page .container .download-category ul.sub a {
	    -webkit-transition: all .3s linear;
		transition: all .3s linear;
	}
	.download-page .container .download-category ul.sub a:hover {
	    background-color: #999;
		color: #fff;
	}
	.download-page .container .download-category ul.sub a:hover::after {
		border-color: #fff;
	}
	.download-page .categoryTitle {
		width: 14em;
		margin-left: 0;
		padding-top: 3.5em;
		margin-bottom: 3em;
	}
	.article-list>article:nth-child(3n+1) {
		clear: both;
	}
}


