@charset "UTF-8";

/* ----- 検索ボックス ----- */
#document-search {
	display: flex;
	align-items: center;
}

@media (max-width: 48em) {
	#document-search {
		display: none;
	}
}

.document-search_text {
	margin-right: 38px;
	padding: 0 0 0 24px;
	font-family: "Noto Sans JP","ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro",Osaka,"メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	font-size: 1.4rem;
	font-weight: bold;
	display: block;
	position: relative;
	background: none;
	border: none;
}

.document-search_text::before {
	content: "";
	width: 16px;
	height: 17px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background: url('/_assets/images/document/search_icon.png')center center/contain no-repeat;
}

#document-search_text-box {
	width: 200px;
	padding: 10px;
	border: solid 1px #9e9e9e;
	border-radius: 22px;
}

.document-search_wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 48em) {
	.document-search_wrap {
		margin-bottom: 0;
	}
}

/* ----- カテゴリー ----- */
.document-category {
	display: flex;
	flex-wrap: wrap;
}

.document-category_item a {
	min-width: 124px;
	height: 44px;
	margin-bottom: 18px;
	padding: 0 21px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: #9e9e9e;
	background: #e5e5e5;
	border-radius: 22px;
	transition: all .3s linear;
}

@media (max-width: 48em) {
	.document-category_item a {
		margin-bottom: 8px;
		padding: 0 17px;
		border-radius: 22px;
	}
}

.document-category_item:not(:last-of-type),
.document-category_item--trigger:not(:last-of-type) {
	margin-right: 11px;
}

@media (max-width: 48em) {
	.document-category_item:not(:last-of-type),
	.document-category_item--trigger:not(:last-of-type) {
		margin-right: 4px;
	}
}

.document-category_item a:hover {
	color: #000;
	background-color: #bcbcbc;
}

.document-category_item.is-active a {
	color: #fff;
	background: #000;
}

/* ----- アンカーリンク ----- */
.document-category_anchor {
	padding: 0 40px;
	display: flex;
	flex-wrap: wrap;
	border: solid 1px #9e9e9e;
	border-radius: 22px;
}

@media (max-width: 48em) {
	.document-category_anchor {
		width: 100vw;
		margin: 9px 0 0 -20px;
		padding: 12px 0 17px 20px;
		flex-wrap: nowrap;
		overflow-x: scroll;
		border: none;
		border-radius: 0;
		background: #f5f5f5;
	}

	.document-category_anchor::-webkit-scrollbar {
		width: 4px;
		height: 4px;
	}

	.document-category_anchor::-webkit-scrollbar-track {
		background: #e5e5e5;
	}

	.document-category_anchor::-webkit-scrollbar-thumb {
		background: #000;
	}
}

.document-category_anchor-item a {
	padding: 8px 27px;
	display: block;
	font-weight: bold;
	color: #000;
}

@media (min-width: 48em) {
	.document-category_anchor-item:first-of-type a {
		padding-left: 0;
	}
}

@media (max-width: 48em) {
	.document-category_anchor-item {
		min-width: fit-content;
	}

	.document-category_anchor-item:last-of-type {
		padding-right: 20px;
	}

	.document-category_anchor-item a {
		width: 100%;
		padding: 8px 38px 8px 24px;
		border: solid 1px #9e9e9e;
		border-radius: 22px;
		background: #fff;
	}
}

.document-category_anchor-item:not(:last-of-type) {
	margin-right: 9px;
}

.document-category_anchor-item span {
	position: relative;
}

.document-category_anchor-item span::after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 7px;
	height: 7px;
	border-top: 2px solid #000;
	border-right: 2px solid #000;
	top: 20%;
	right: -23px;
	transform: rotate(135deg) translateY(-50%);
}

@media (max-width: 48em) {
	.document-category_anchor-item span::after {
		right: -17px;
	}
}

@keyframes anchorDisplay {
	from{
			opacity: 0;
	}
	to{
			opacity: 1;
	}
}

/* ----- Title ----- */
.download-page .categoryTitle {
	margin-bottom: 30px;
	padding-top: 60px;
}

@media (max-width: 48em) {
	.download-page .categoryTitle {
		padding-top: 50px;
	}
}

/* ----- Sub Title ----- */
.download-page .categorySubTitle {
	margin-bottom: 35px;
	padding-top: 100px;
	margin-top: -100px;
	font-size: 1.8rem;
	font-weight: bold;
}

@media (max-width: 48em) {
	.download-page .categorySubTitle {
		padding-top: 20px;
		margin-top: -20px;
		margin-bottom: 60px;
	}
}

/* ----- 追従ナビ ----- */
.document-categoryNav_wrap {
	width: 224px;
	border: solid 1px #e7e8e8;
	border-right: none;
	border-radius: 28px 0 0 28px;
	overflow: hidden;
	position: fixed;
	right: -110px;
	bottom: 140px;
	z-index: 999;
	transition: all .3s linear;
}

.document-categoryNav_wrap.is-absolute {
	position: absolute;
}

@media (max-width: 48em) {
	.document-categoryNav_wrap {
		display: none;
	}
}

.document-categoryNav_wrap.is-active {
	right: 0;
}

.document-categoryNav_text {
	padding: 8px 0 8px 35px;
	color: #ed1e78;
	background: #fff;
	cursor: pointer;
}

.document-categoryNav_wrap.is-active .document-categoryNav_text {
	padding-left: 28px;
}

.document-categoryNav_text span {
	font-weight: bold;
	position: relative;
}

.document-categoryNav_text span::after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 7px;
	height: 7px;
	border-top: 2px solid #ed1e78;
	border-right: 2px solid #ed1e78;
	top: 20%;
	right: auto;
	left: -10px;
	transform: rotate(225deg) translateY(-50%);
}

.document-categoryNav_wrap.is-active .document-categoryNav_text span::after {
	left: auto;
	right: -15px;
	transform: rotate(135deg) translateY(-50%);
}

.document-categoryNav_item {
	background: #e5e5e5;
}

.document-categoryNav_item.is-active {
	background: #000;
}

.document-categoryNav_item:not(:last-of-type) {
	border-bottom: solid 1px #fff;
}

.document-categoryNav_item a {
	padding: 11px 0 12px 28px;
	display: block;
	font-weight: bold;
	color: #9e9e9e;
	transition: all .3s linear;
}

.document-categoryNav_item.is-active a {
	color: #fff;
	pointer-events: none;
}

.document-categoryNav_item a:hover {
	color: #000;
	background-color: #bcbcbc;
}


.download-page {
	position: relative;
}

/* ----- アンカーリンク(ページTOP) ----- */
footer .go-top-but {
	opacity: 0;
	top: auto;
	bottom: 30px;
	position: fixed;
	z-index: 999;
	transition: all .2s linear;
}

footer .go-top-but.is-absolute {
	position: absolute;
	top: -80px;
	bottom: auto;
}
